@import '../base/variables';

.ForgotPasswordPage {
  background: url('../../img/forgotpassword.jpg') center center no-repeat;
  background-size: cover;
}

.ForgotPassword {
  background-color: rgba($secondary, 0.94);
}